*{
            margin: 0%;
            padding: 0px;
            /* background-color: rgb(112, 163, 112); */
        }
       .container{
        background-color: rgb(112, 163, 112);
        width: 100%;
        height: 690px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

       } 
       .b{
        width: 70px;
        height: 30px;
        background-color: cornflowerblue;
        border-radius: 10px;
       }
       .p{
         width: 70px;
        height: 30px;
        background-color: rgb(189, 241, 19);
        border-radius: 10px;
       }
       .p:hover{
        background-color: grey;
       }
       .b:hover{
         background-color: grey;
       }
    
       h1{
        display: inline;
        margin-right: 100px;
        justify-content: end;
        color: aliceblue;
        margin-left: 5px;
       }
       
       li{
        padding: 10px;
        text-decoration: none;
        border: 5px;
        border-style: dotted;
        border-color: greenyellow;
        border-radius: 8px;
        margin: 4px;
       }

       .upi{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin-bottom: -2;
       }
       .abc{
        display: inline-flex;

       }
       nav{
        background-color: black;
        height: 60px;
       }

       a{
        text-decoration: none;
       }
       img{
        padding-top: 20px;
       }

       



       
       

    
    

    
       
